body div svg {
	border: none;
	padding: 0;
	margin: 0;
}

svg {
	/*background: lightgray;*/
}

#chart:before {
	content: '';
	display: block;
	clear: both;
}

svg .tick line {
	stroke: #ccc;
	stroke-dasharray: 5,5;
}

svg.svg-chart {
	margin-bottom: 30px;
}

svg circle {
	fill: none;
	stroke: #000;
}

.svg-chart text {
	stroke: #000;
}

.svg-chart rect {
	fill: steelblue;
}

.svg-chart rect:hover {
	fill: red;
}

.axis text {
	font: 18px sans-serif;
	font-weight: lighter;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.hidden {
	display: none;
}

.legend {
	stroke: #ccc
}

.legend circle {
	fill: red;
}

g.bubble-group:hover text.hidden{
	display: block !important;
}

.bubble:hover {
	fill: red !important;
}

.bar rect:hover {
	fill: #000 !important;
}

text {
	font: 16px helvetica, sans-serif;
}

svg .watermark {
	fill: #000;
	stroke: #000;
	font-size: 50px;
}

.small {
	font-size: 16px !important;
}

svg .circle {
	fill: red;
	stroke: #000;
}

svg path {
	fill: none;
	stroke: #000;
}

#grouped-packing-plot .branch circle {
	/*fill: #555;*/
	/*opacity: 0.3;*/
}

#grouped-packing-plot .leaf circle {
	fill: white;
	/*opacity: 1;*/
}