body div svg {
	border: none;
	padding: 0;
	margin: 0;
}

svg {
	/*background: lightgray;*/
}

#chart:before {
	content: '';
	display: block;
	clear: both;
}

#svg-chart text {
	stroke: #000;
}

#svg-chart rect {
	fill: steelblue;
}

#svg-chart rect:hover {
	fill: red;
}

.axis text {
	font: 18px sans-serif;
	font-weight: lighter;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.hidden {
	display: none;
}

.hidden:hover {
	display: block !important;
}

.bar rect:hover {
	fill: #000 !important;
}

svg .watermark {
	fill: #ddd;
	stroke: #fff;
	font: 50px sans-serif;
	text-anchor
}